$dimensions: height max-height max-width min-height min-width width
$transition-timing-function: ease-in
$speed-slow: 0.5s

@each $dimension in $dimensions 
	.is-#{$dimension}-animated
		transition: #{$dimension} $speed-slow $transition-timing-function 
		overflow: hidden
	
.is-fade 
	opacity: 1
	animation-name: fadeInOpacity
	animation-iteration-count: 1
	animation-timing-function: $transition-timing-function 
	animation-duration: 0.75s

@keyframes fadeInOpacity 
	0% 
		opacity: 0
	100% 
		opacity: 1

.slide-enter-active 
  transition: max-height $speed-slow $transition-timing-function 
  max-height: 0
  overflow: hidden

.slide-leave-active 
  transition: max-height $speed-slow $transition-timing-function 
  max-height: 1000px
  overflow: hidden

.slide-enter-to, .slide-leave 
  max-height: 1000px

.slide-enter, .slide-leave-to 
  max-height: 0


.slide-right-enter-active 
  animation: slide-in-right 0.5s ease-out both

@keyframes slide-in-right 
  0% 
    transform: translateX(-1000px)
  100% 
    transform: translateX(0)

.slide-left-enter-active,
.slide-left-leave-active 
    transition: transform 200ms $transition-timing-function 
.slide-left-leave-to
    transform: translate3d(-100%, 0, 0)
.slide-left-enter
    transform: translate3d(100%, 0, 0)