.is-vertical
    flex-direction: row
.is-horizontal
    flex-direction: column
.accordion
    display: flex
    align-items: center
    cursor: pointer
    .accordion-trigger 
        border: none
        outline: none
        padding: 0px 20px
    .accordion-content
        flex: 1
    
