.data-grid
  background-color: white
.tableHeader
  display: block
.sticky-table
  height: 300px
  overflow-y: auto !important

.sticky-row
  position: sticky
  top: 0
  background-color: var(--blm-prim)
  color: white !important

.sticky-column
  position: sticky
  left: 0
  background-color: var(--blm-prim)
  color: white

.pagination-container
  display: flex
  justify-content: flex-end
  align-items: center
